Flask
Flask-SQLAlchemy
Flask-SocketIO
Flask-CORS
whitenoise
Pillow
pypdfium2
ultralytics>=8.4.0
torch
torchvision
numpy<2.0
opencv-python>=4.9.0
python-socketio
matplotlib
pandas
Werkzeug
roboflow
PyYAML
shapely
scipy
huggingface_hub
eventlet
gunicorn
